*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #fff;
}

body{
    background-color: black;
}

.ml6 {
    position: relative;
    font-weight: 900;
    font-size: 3.3em;
  }
  
  .ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml6 .letter {
    display: inline-block;
    line-height: 1em;
  }

.stop-watch{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.watch-container{
    width: 60%;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    background: rgba(34, 46, 58, 0.3)
}

.watch-container h1{
    margin-bottom: 40px;
}

.watch-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
}

.controller{
    display: flex;
    width: 40%;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 100px;
}

.controller div button{
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #18406E);
    background-image: -moz-linear-gradient(top, #1E62D0, #18406E);
    background-image: -ms-linear-gradient(top, #1E62D0, #18406E);
    background-image: -o-linear-gradient(top, #1E62D0, #18406E);
    background-image: -webkit-gradient(to bottom, #1E62D0, #18406E);
    -webkit-border-radius: 39px;
    -moz-border-radius: 39px;
    border-radius: 39px;
    color: #FFFFFF;
    font-family: Verdana;
    font-size: 20px;
    font-weight: 400;
    padding: 10px 30px;
    -webkit-box-shadow: -4px 4px 18px 2px #000000;
    -moz-box-shadow: -4px 4px 18px 2px #000000;
    box-shadow: -4px 4px 18px 2px #000000;
    text-shadow: -7px 2px 34px #000000;
    border: dashed #337FED 0;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}


.watch{
    position: relative;
    height: 200px;
    width: 200px;
    text-align: center;
}

#hour-count, #min-count, #sec-count, #milisec-count {
    color: white;
    display: inline-block;
    line-height: 200px;
    font-size: 30px;
}
  
  svg {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 200px;
    transform: rotateY(-180deg) rotateZ(-90deg);
  }
  
  svg circle {
    stroke-dasharray: 440px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 4px;
    fill: none;
    animation: countdown linear infinite forwards;
  }
  
  @keyframes countdown {
    from {
      stroke-dashoffset: 440px;
    }
    to {
      stroke-dashoffset: 0px;
    }
  }